<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2-GDyOGz2Cqa5zISWLo6K-d6sWlmKtpY</string>
	<key>GCM_SENDER_ID</key>
	<string>774207487248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loraChatapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>lora-app-33827</string>
	<key>STORAGE_BUCKET</key>
	<string>lora-app-33827.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774207487248:ios:8ab54e017a8f97f080b995</string>
</dict>
</plist>